<%- include("partials/header.ejs") %><!-- Step 3 Add Header -->

<% if(locals.Noun && locals.Adjective){ %>
  <h1><%= Adjective %> <%= Noun %></h1>
<% } else { %>
     <h1>Welcome to To The Band Generator</h1>
<% } %>

<form action="/submit" method="POST">
  <input type="submit" value="Generate Name">
</form>

<%- include("partials/footer.ejs")  %>